<!DOCTYPE html>
<html lang="ro">
<%- include("../fragmente/head.ejs") %>

<body>

    <p class="banner-print">Acesta este un proiect școlar!</p>
    <h1>Titlul site-ului</h1>
    <div class="watermark">Stroescu Dragos</div>
    <h1>Titlu site</h1>
<%- include("../fragmente/header.ejs") %>
    <details>
        <summary>Intrebari frecvente</summary>
        <ul>
            <li>Se pot returna jocurile cumparate?</li>
            <li>Reducerile coincid cu cele de pe site-urile oficiale?</li>
        </ul>
    </details>
    <div id="grid-container">
    <div class="item1">
        <h2 class="headers">Trailerul zilnic:</h2> 
        
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EE-4GvjKcfs" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <ul>
        <li><a href="#sectiunea-1">sectiunea 1</a></li>
        <li><a href="#sectiunea-2">sectiunea 2</a></li>
        
        <!-- <li><a href="resurse/ps3.jpg" download> -->
            <!-- <img src="/resurse/ps3.jpg" alt="Playstation3"> -->
        </a></li>
    </ul>
    
    <main>
        <section id="sectiunea-1">
            <a href="http://www.google.com"> link extern google</a>
            <h2>Heading 2</h2>
            <section id="sectiunea-1.1">
                <h3><strong>heading 3</strong></h3>
            </section>
            <ins><em>REDUCERILE SE TERMINA PE 8 MARTIE!!!!</em></ins> <br>
            <s>REDUCERILE SE TERMINA PE 28 FEBRUARIE!!!</s><br>
            <p>
                <b>jocuri pentru playstation playstation playstation4 playstation5 jocuri pentru xbox xbox one xbox 360 jocuri nintendo switch nintendo switch </b><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas inventore tenetur nulla laborum totam accusamus laboriosam possimus similique nisi et eum obcaecati sed iusto repellat facilis, dolore sapiente saepe repudiandae?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium praesentium molestiae porro delectus nesciunt aliquam inventore libero alias fugiat in. Facere rerum rem asperiores libero soluta culpa possimus sed doloremque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia reiciendis sequi, ipsum ipsam saepe placeat quam maiores cumque nisi velit consequatur impedit quas, tempore unde nihil! A quos id beatae?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ea nesciunt corrupti animi. Quisquam non aperiam quos veniam eligendi fuga nemo tempora illum necessitatibus sit, debitis quibusdam, optio corporis sed.
            </p>
                Lista console pentru site:
            <ul>
                <li>Playstation4</li>
                <li>Playstation5</li>
                <li>Nintendo Switch</li>
                <li>Xbox One</li>
            </ul>    
        </section>
        </main>
        <figure>
            <img src="resurse/image.jpg" alt="Controller PS4" style="width:15%">
            <figcaption>Controller PS4.</figcaption>
        </figure>
        <section id="sectiunea-2">
            <h3>Sectiunea 2:</h3>
            <br>
            <i>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum iste, nulla quaerat est aut autem nisi excepturi, eligendi rerum harum, sapiente obcaecati? Facere autem aliquid eveniet culpa perferendis, vero neque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vero voluptatem nisi? Vitae, facere recusandae, officia inventore totam assumenda doloremque aliquam necessitatibus harum, eos nobis officiis magni sit ipsam alias.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro neque consequatur corporis magni quaerat, asperiores a recusandae. Veniam rem cumque deleniti maiores reiciendis hic enim. Veniam sint autem obcaecati suscipit!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo adipisci exercitationem optio at amet numquam veritatis, ipsa et eius qui nisi eos placeat laborum, accusamus repudiandae, facere deserunt praesentium beatae?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum dignissimos maxime saepe tempora, eius nemo similique quo rem quas excepturi quibusdam optio nisi delectus, animi reiciendis, quam dolorem accusantium est?
            </i>
            </section>
            <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jGQBmSsunT4" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="item2"><table>
            <caption>Lista Jocuri</caption>
            <thead>
                <tr>
                    <td>Jocuri Play Station 4</td>
                    <td>Jocuri Nintendo Switch</td>
                    <td>Jocuri Xbox 360</td>
                    <td>Jocuri Xbox One</td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Marvel's Spider Man</td>
                    <td>Super Mario Oddysey</td>
                    <td>Halo 4</td>
                    <td>Forza Horizon 4</td>    
                </tr>
                <tr>
                    <td>Lost Judgement</td>
                    <td>Splatoon 2</td>
                    <td colspan="2">Dante's Inferno</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>God Of War</td>
                    <td>Mario Kart 8</td>
                    <td>Fallout 3</td>
                    <td>Halo:Infinite</td>
            </tr></tfoot></table></div></div>
            <div class="item3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis fugiat aperiam repellat autem, natus dolore. Omnis eius quasi exercitationem dolores quis dolorem vel fuga esse, fugit sequi, ducimus, ea modi!</div>  
            <div class="item4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est quaerat assumenda ab, consectetur voluptate aperiam tempore illum ad eligendi nisi. Quasi sapiente necessitatibus accusamus autem rem officiis vero optio incidunt!</div>
            <div class="item5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit suscipit, nesciunt quaerat laudantium ipsa praesentium unde, incidunt maxime et harum laborum impedit eos provident odit eveniet repellat illo necessitatibus. Fuga!</div>
            <div class="item6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, quia amet. Soluta rerum ipsam quae iste pariatur recusandae officia excepturi architecto, ipsa totam nihil, quam at aliquid molestias unde illum.</div>
            <div class="item7">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error officiis voluptatem itaque aliquid eveniet consequuntur nesciunt quis quam modi ipsa enim, iure deleniti accusamus, at rem saepe molestiae debitis officia!</div>
            <div class="item8"><h2 class="headers">Informatii Site:</h2>Acest site este un magazin online de jocuri video care ofera foarte des reduceri la jocuri noi dar si la cele vechi.
            </div> 
            </div>
            <div class="container-iframe">
            <iframe class="iframe-buton" name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/FFAMYW2POBw" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="taburi-iframe">
                <button><a href="https://www.youtube.com/embed/7lr4GLfvOSQ" target="ifr-video">Trailer Jin</a></button>
                <button><a href="https://www.youtube.com/embed/eCOWceM2nZo" target="ifr-video" >Trailer Paul</a></button>
                <button><a href="https://www.youtube.com/embed/N3sAt0JbqNs" target="ifr-video" >Trailer Nina</a></button>
                <button><a href="https://www.youtube.com/embed/FFAMYW2POBw" target="ifr-video" >Trailer Kazuya</a></button>
            </div>
            </div>

<%- include("../fragmente/footer.ejs") %>

</body>
</html>