<footer>
    <p class ="banner">Acesta este un proiect școlar!</p>
    <a href="/" >link pagina</a>
    <br>
    <h2>CONTACT</h2>
    <ul>
        <li><a>0725612347</a></li>
        <li>Adresa:<a href="https://goo.gl/maps/NMyQEFAE7SWNi19VA">Strada Academiei 14, București 010014</a> </li>
        <li>Adresa Mail:<a href="mailto:dragos.stroescu13@gmail.com">dragos.stroescu13@gmail.com</a></li>
        <li>Link Skype:<a href="skype:dragos.stroescu13">dragos.stroescu13</a></li>
    </ul>
    <small>	Site Jocuri Video &#169;</small>
    <p>Data creare pagina:<time datetime="2023-03-06">6 Martie 2023</time></p>
    <a id="buton-top" href="#">
    <div id="sageata">&#129081 </div>
    <div class="tooltip">text explicativ</div>
</footer>