<header>
    <div class="navbar">
        <a href="#"><i class="fa-solid fa-house"></i> Home</a>
        <a href="#sectiunea-2">News</a>
        <div class="dropdown">
          <button class="dropbtn">Dropdown 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#sectiunea-1">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div> 
    </div>  
</header> 